@{
    ViewBag.Title = "Relatorio";
}
<link href="~/Content/styleRelatorio.css" rel="stylesheet" />

<section id="relatorio">

    <table>
        <caption> Relatórios </caption>
        <thead>
            <tr>
                <th scope="col" class="nome">NOME
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="nome"> <a href="~/Colaborador/Listagem"> Lista de usuário</a>
            </tr>
        </tbody>
    </table>